// Custom bootstrap

$utilities : (
  "width": (
    property: width,
    class: w,
    responsive : true ,
    values: (
      25: 25%,
      50: 50%,
      60 : 60% ,
      70 : 70%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  )
  );

@import "../node_modules/bootstrap/scss/bootstrap.scss"  ;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Open sans, sans-serif;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}
